<div>
  <h2 id="page-heading" data-cy="JTMaterialProcesVerbalHeading">
    <span>JT Material Proces Verbals</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-jt-material-proces-verbal"
        [routerLink]="['/jt-material-proces-verbal/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span>Creeare o nouă entitate JT Material Proces Verbal</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (jTMaterialProcesVerbals?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span>No JT Material Proces Verbals found</span>
    </div>
  }

  @if (jTMaterialProcesVerbals && jTMaterialProcesVerbals.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span>Id</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="procedura">
              <div class="d-flex">
                <span>Procedura</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="cantitate">
              <div class="d-flex">
                <span>Cantitate</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="produs.id">
              <div class="d-flex">
                <span>Produs</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="procesVerbal.id">
              <div class="d-flex">
                <span>Proces Verbal</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (jTMaterialProcesVerbal of jTMaterialProcesVerbals; track trackId) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/jt-material-proces-verbal', jTMaterialProcesVerbal.id, 'view']">{{ jTMaterialProcesVerbal.id }}</a>
              </td>
              <td>{{ jTMaterialProcesVerbal.procedura }}</td>
              <td>{{ jTMaterialProcesVerbal.cantitate }}</td>
              <td>
                @if (jTMaterialProcesVerbal.produs) {
                  <div>
                    <a [routerLink]="['/material', jTMaterialProcesVerbal.produs.id, 'view']">{{ jTMaterialProcesVerbal.produs.id }}</a>
                  </div>
                }
              </td>
              <td>
                @if (jTMaterialProcesVerbal.procesVerbal) {
                  <div>
                    <a [routerLink]="['/proces-verbal', jTMaterialProcesVerbal.procesVerbal.id, 'view']">{{
                      jTMaterialProcesVerbal.procesVerbal.id
                    }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a
                    [routerLink]="['/jt-material-proces-verbal', jTMaterialProcesVerbal.id, 'view']"
                    class="btn btn-info btn-sm"
                    data-cy="entityDetailsButton"
                  >
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline">Vizualizare</span>
                  </a>

                  <a
                    [routerLink]="['/jt-material-proces-verbal', jTMaterialProcesVerbal.id, 'edit']"
                    class="btn btn-primary btn-sm"
                    data-cy="entityEditButton"
                  >
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline">Editare</span>
                  </a>

                  <button type="submit" (click)="delete(jTMaterialProcesVerbal)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline">Ștergere</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
