<div>
  <h2 id="page-heading" data-cy="MaterialHeading">
    <span>Materials</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-material"
        [routerLink]="['/material/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span>Creeare o nouă entitate Material</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (materials?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span>No Materials found</span>
    </div>
  }

  @if (materials && materials.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span>Id</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="procedura">
              <div class="d-flex">
                <span>Procedura</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="factura">
              <div class="d-flex">
                <span>Factura</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="denumire">
              <div class="d-flex">
                <span>Denumire</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="lot">
              <div class="d-flex">
                <span>Lot</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="dataAchizitionare">
              <div class="d-flex">
                <span>Data Achizitionare</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="dataExpirare">
              <div class="d-flex">
                <span>Data Expirare</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="dilutie">
              <div class="d-flex">
                <span>Dilutie</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="timpContact">
              <div class="d-flex">
                <span>Timp Contact</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="metodaAplicare">
              <div class="d-flex">
                <span>Metoda Aplicare</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="gramaj">
              <div class="d-flex">
                <span>Gramaj</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="cantitate">
              <div class="d-flex">
                <span>Cantitate</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="companie.id">
              <div class="d-flex">
                <span>Companie</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (material of materials; track trackId) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/material', material.id, 'view']">{{ material.id }}</a>
              </td>
              <td>{{ material.procedura }}</td>
              <td>{{ material.factura }}</td>
              <td>{{ material.denumire }}</td>
              <td>{{ material.lot }}</td>
              <td>{{ material.dataAchizitionare | formatMediumDate }}</td>
              <td>{{ material.dataExpirare | formatMediumDate }}</td>
              <td>{{ material.dilutie }}</td>
              <td>{{ material.timpContact }}</td>
              <td>{{ material.metodaAplicare }}</td>
              <td>{{ material.gramaj }}</td>
              <td>{{ material.cantitate }}</td>
              <td>
                @if (material.companie) {
                  <div>
                    <a [routerLink]="['/companie', material.companie.id, 'view']">{{ material.companie.id }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/material', material.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline">Vizualizare</span>
                  </a>

                  <a [routerLink]="['/material', material.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline">Editare</span>
                  </a>

                  <button type="submit" (click)="delete(material)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline">Ștergere</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
