<div>
  <h2 id="page-heading" data-cy="ClientHeading">
    <span>Clients</span>

    <div class="d-flex justify-content-end">
      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-client"
        [routerLink]="['/client/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span>Creeare o nouă entitate Client</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (!!clients && clients.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span>No Clients found</span>
    </div>
  }

  <p-toast></p-toast>
  <p-table
    [value]="clients"
    [lazy]="true"
    (onLazyLoad)="loadCustomers($event)"
    dataKey="id"
    editMode="row"
    [tableStyle]="{ 'min-width': '50rem' }"
    [paginator]="true"
    [rows]="3"
    [totalRecords]="totalRecords"
    [loading]="loading"
    [globalFilterFields]="['nume', 'prenume', 'functie']"
  >
    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="denumire" style="width: 12%">Denumire <p-sortIcon field="denumire"></p-sortIcon></th>
        <th pSortableColumn="codFiscal" style="width: 12%">Cod Fiscal <p-sortIcon field="codFiscal"></p-sortIcon></th>
        <th pSortableColumn="adresaPunctLucru" style="width: 12%">Adresa Punct Lucru <p-sortIcon field="adresaPunctLucru"></p-sortIcon></th>
        <th pSortableColumn="telefon" style="width: 12%">Telefon <p-sortIcon field="telefon"></p-sortIcon></th>
        <th pSortableColumn="email" style="width: 12%">Email <p-sortIcon field="email"></p-sortIcon></th>
        <th pSortableColumn="persoanaContact" style="width: 12%">Persoana Contact <p-sortIcon field="persoanaContact"></p-sortIcon></th>
        <th pSortableColumn="contract" style="width: 12%">Contract <p-sortIcon field="contract"></p-sortIcon></th>
        <th pSortableColumn="categorie" style="width: 12%">Categorie <p-sortIcon field="categorie"></p-sortIcon></th>
        <th style="width: 12%">Tip Interventie + Frecventa</th>
        <th style="width: 4%"></th>
      </tr>

      <tr>
        <th>
          <p-columnFilter type="text" field="denumire"></p-columnFilter>
        </th>
        <th>
          <p-columnFilter type="text" field="codFiscal"></p-columnFilter>
        </th>
        <th>
          <p-columnFilter type="text" field="adresaPunctLucru"></p-columnFilter>
        </th>
        <th>
          <p-columnFilter type="text" field="telefon"></p-columnFilter>
        </th>
        <th>
          <p-columnFilter type="text" field="email"></p-columnFilter>
        </th>
        <th>
          <p-columnFilter type="text" field="persoanaContact"></p-columnFilter>
        </th>
        <th>
          <p-columnFilter type="text" field="contract"></p-columnFilter>
        </th>

        <th>
          <p-columnFilter field="functie" matchMode="equals" [showMenu]="false">
            <ng-template pTemplate="filter" let-value let-filter="filterCallback">
              <p-dropdown [ngModel]="value" [options]="categorii" (onChange)="filter($event.value)" placeholder="Any" [showClear]="true">
                <ng-template let-option pTemplate="item">
                  <p-tag [value]="option.label"></p-tag>
                </ng-template>
              </p-dropdown>
            </ng-template>
          </p-columnFilter>
        </th>
        <th></th>
        <th></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-client let-editing="editing" let-ri="rowIndex">
      <tr [pEditableRow]="client">
        <td>
          <p-cellEditor>
            <ng-template pTemplate="input">
              <input pInputText class="p-inputtext p-component p-element" type="text" [(ngModel)]="client.denumire" />
            </ng-template>
            <ng-template pTemplate="output">
              {{ client.denumire }}
            </ng-template>
          </p-cellEditor>
        </td>
        <td>
          <p-cellEditor>
            <ng-template pTemplate="input">
              <input pInputText class="p-inputtext p-component p-element" type="text" [(ngModel)]="client.codFiscal" />
            </ng-template>
            <ng-template pTemplate="output">
              {{ client.codFiscal }}
            </ng-template>
          </p-cellEditor>
        </td>
        <td>
          <p-cellEditor>
            <ng-template pTemplate="input">
              <input pInputText class="p-inputtext p-component p-element" type="text" [(ngModel)]="client.adresaPunctLucru" />
            </ng-template>
            <ng-template pTemplate="output">
              {{ client.adresaPunctLucru }}
            </ng-template>
          </p-cellEditor>
        </td>
        <td>
          <p-cellEditor>
            <ng-template pTemplate="input">
              <input pInputText class="p-inputtext p-component p-element" type="text" [(ngModel)]="client.telefon" />
            </ng-template>
            <ng-template pTemplate="output">
              {{ client.telefon }}
            </ng-template>
          </p-cellEditor>
        </td>
        <td>
          <p-cellEditor>
            <ng-template pTemplate="input">
              <input pInputText class="p-inputtext p-component p-element" type="text" [(ngModel)]="client.email" />
            </ng-template>
            <ng-template pTemplate="output">
              {{ client.email }}
            </ng-template>
          </p-cellEditor>
        </td>
        <td>
          <p-cellEditor>
            <ng-template pTemplate="input">
              <input pInputText class="p-inputtext p-component p-element" type="text" [(ngModel)]="client.persoanaContact" />
            </ng-template>
            <ng-template pTemplate="output">
              {{ client.persoanaContact }}
            </ng-template>
          </p-cellEditor>
        </td>
        <td>
          <p-cellEditor>
            <ng-template pTemplate="input">
              <input pInputText class="p-inputtext p-component p-element" type="text" [(ngModel)]="client.contract" />
            </ng-template>
            <ng-template pTemplate="output">
              {{ client.contract }}
            </ng-template>
          </p-cellEditor>
        </td>
        <td>
          <p-cellEditor>
            <ng-template pTemplate="input">
              <input pInputText class="p-inputtext p-component p-element" type="text" [(ngModel)]="client.categorie.nume" />
            </ng-template>
            <ng-template pTemplate="output">
              {{ client.categorie.nume }}
            </ng-template>
          </p-cellEditor>
        </td>
        <td style="background-color: yellow">TODO</td>
        <td>
          <div class="flex align-items-center justify-content-center gap-2">
            <button
              *ngIf="!editing"
              pButton
              pRipple
              type="button"
              icon="pi pi-eye"
              [routerLink]="['/client', client.id, 'view']"
              class="p-button-rounded p-button-text"
            ></button>
            <button
              *ngIf="!editing"
              pButton
              pRipple
              type="button"
              pInitEditableRow
              icon="pi pi-pencil"
              (click)="onRowEditInit(client)"
              class="p-button-rounded p-button-text"
            ></button>
            <button
              *ngIf="editing"
              pButton
              pRipple
              type="button"
              pSaveEditableRow
              icon="pi pi-check"
              (click)="onRowEditSave(client)"
              class="p-button-rounded p-button-text p-button-success mr-2"
            ></button>
            <button
              *ngIf="editing"
              pButton
              pRipple
              type="button"
              pCancelEditableRow
              icon="pi pi-times"
              (click)="onRowEditCancel(client, ri)"
              class="p-button-rounded p-button-text p-button-danger"
            ></button>
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
