<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (client) {
      <div>
        <h2 data-cy="clientDetailsHeading">
          <p-button
            pRipple
            [rounded]="true"
            icon="pi pi-arrow-left"
            type="submit"
            (click)="previousState()"
            severity="secondary"
          ></p-button>

          <span>Client: {{ client.denumire }}</span>
        </h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span>Denumire</span></dt>
          <dd>
            <span>{{ client.denumire }}</span>
          </dd>
          <dt><span>Cod Fiscal</span></dt>
          <dd>
            <span>{{ client.codFiscal }}</span>
          </dd>
          <dt><span>Numar Registru Comert</span></dt>
          <dd>
            <span>{{ client.numarRegistruComert }}</span>
          </dd>
          <dt><span>Adresa Punct Lucru</span></dt>
          <dd>
            <span>{{ client.adresaPunctLucru }}</span>
          </dd>
          <dt><span>Telefon</span></dt>
          <dd>
            <span>{{ client.telefon }}</span>
          </dd>
          <dt><span>Email</span></dt>
          <dd>
            <span>{{ client.email }}</span>
          </dd>
          <dt><span>Persoana Contact</span></dt>
          <dd>
            <span>{{ client.persoanaContact }}</span>
          </dd>
          <dt><span>Contract</span></dt>
          <dd>
            <span>{{ client.contract }}</span>
          </dd>
          @if (client.deratizare) {
            <dt><span>Deratizare</span></dt>
            <dd>
              <span><i class="pi pi-check" style="color: slateblue"></i> (frecventa: {{ client.frecventaDeratizare }})</span>
            </dd>
          }
          @if (client.dezinsectie) {
            <dt><span>Dezinsectie</span></dt>
            <dd>
              <span><i class="pi pi-check" style="color: slateblue"></i> (frecventa: {{ client.frecventaDezinsectie }})</span>
            </dd>
          }
          @if (client.dezinfectie) {
            <dt><span>Dezinfectie</span></dt>
            <dd>
              <span><i class="pi pi-check" style="color: slateblue"></i> (frecventa: {{ client.frecventaDezinfectie }})</span>
            </dd>
          }
          <dt><span>Categorie</span></dt>
          <dd>
            @if (client.categorie) {
              <div>
                <a [routerLink]="['/categorie-client', client.categorie.id, 'view']">{{ client.categorie.nume }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="button" [routerLink]="['/client', client.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Editare</span>
        </button>
      </div>
    }
  </div>
</div>
