<div>
  <h2 id="page-heading" data-cy="CategorieClientHeading">
    <span>Categorie Clients</span>
  </h2>

  <div class="d-flex justify-content-end">
    <p-button
      pRipple
      [rounded]="true"
      icon="pi pi-plus"
      type="submit"
      [routerLink]="['/categorie-client/new']"
      severity="secondary"
      label="Creare Categorie Client"
    ></p-button>
  </div>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (!categorieClients || categorieClients.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span>No Categorie Clients found</span>
    </div>
  }

  <p-toast></p-toast>
  <p-table
    [value]="categorieClients"
    [lazy]="true"
    (onLazyLoad)="loadData($event)"
    dataKey="id"
    editMode="row"
    [tableStyle]="{ 'min-width': '50rem' }"
    [paginator]="true"
    [rows]="3"
    [totalRecords]="totalRecords"
    [loading]="loading"
    [globalFilterFields]="['nume']"
  >
    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="Nume" style="width: 30%">Nume <p-sortIcon field="Nume"></p-sortIcon></th>
        <th style="width: 15%"></th>
      </tr>
      <tr>
        <th>
          <p-columnFilter type="text" field="client"></p-columnFilter>
        </th>
        <th></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-categorieClient let-editing="editing" let-ri="rowIndex">
      <tr [pEditableRow]="categorieClient">
        <td>
          <p-cellEditor>
            <ng-template pTemplate="input">
              <input pInputText class="p-inputtext p-component p-element" type="text" [(ngModel)]="categorieClient.nume" />
            </ng-template>
            <ng-template pTemplate="output">
              {{ categorieClient.nume }}
            </ng-template>
          </p-cellEditor>
        </td>
        <td>
          <div class="flex align-items-center justify-content-center gap-2">
            <button
              *ngIf="!editing"
              pButton
              pRipple
              type="button"
              icon="pi pi-eye"
              [routerLink]="['/categorie-client', categorieClient.id, 'view']"
              class="p-button-rounded p-button-text"
            ></button>
            <button
              *ngIf="!editing"
              pButton
              pRipple
              type="button"
              pInitEditableRow
              icon="pi pi-pencil"
              (click)="onRowEditInit(categorieClient)"
              class="p-button-rounded p-button-text"
            ></button>
            <button
              *ngIf="editing"
              pButton
              pRipple
              type="button"
              pSaveEditableRow
              icon="pi pi-check"
              (click)="onRowEditSave(categorieClient)"
              class="p-button-rounded p-button-text p-button-success mr-2"
            ></button>
            <button
              *ngIf="editing"
              pButton
              pRipple
              type="button"
              pCancelEditableRow
              icon="pi pi-times"
              (click)="onRowEditCancel(categorieClient, ri)"
              class="p-button-rounded p-button-text p-button-danger"
            ></button>
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
