<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-proces-verbal-heading" data-cy="ProcesVerbalCreateUpdateHeading">
        {{ title }}
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="mb-3">
          <label class="form-label" for="field_ora">Ora</label>
          <div class="d-flex">
            <input
              id="field_ora"
              data-cy="ora"
              type="datetime-local"
              class="form-control"
              name="ora"
              formControlName="ora"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_numarProcesVerbal">Numar Proces Verbal</label>
          <input
            type="number"
            class="form-control"
            name="numarProcesVerbal"
            id="field_numarProcesVerbal"
            data-cy="numarProcesVerbal"
            formControlName="numarProcesVerbal"
          />
          @if (
            editForm.get('numarProcesVerbal')!.invalid &&
            (editForm.get('numarProcesVerbal')!.dirty || editForm.get('numarProcesVerbal')!.touched)
          ) {
            <div>
              @if (editForm.get('numarProcesVerbal')?.errors?.required) {
                <small class="form-text text-danger">Acest câmp este necesar.</small>
              }
              <small class="form-text text-danger" [hidden]="!editForm.get('numarProcesVerbal')?.errors?.number"
                >Acest câmp trebuie să fie numeric.</small
              >
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_reprezentant">Reprezentant</label>
          <input
            type="text"
            class="form-control"
            name="reprezentant"
            id="field_reprezentant"
            data-cy="reprezentant"
            formControlName="reprezentant"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_spatii">Spatii</label>
          <input type="text" class="form-control" name="spatii" id="field_spatii" data-cy="spatii" formControlName="spatii" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_suprafata">Suprafata</label>
          <input type="number" class="form-control" name="suprafata" id="field_suprafata" data-cy="suprafata" formControlName="suprafata" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_rapelDezinsectie">Rapel Dezinsectie</label>
          <input
            type="number"
            class="form-control"
            name="rapelDezinsectie"
            id="field_rapelDezinsectie"
            data-cy="rapelDezinsectie"
            formControlName="rapelDezinsectie"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_rapelDeratizare">Rapel Deratizare</label>
          <input
            type="number"
            class="form-control"
            name="rapelDeratizare"
            id="field_rapelDeratizare"
            data-cy="rapelDeratizare"
            formControlName="rapelDeratizare"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_garantieDezinsectie">Garantie Dezinsectie</label>
          <input
            type="checkbox"
            class="form-check"
            name="garantieDezinsectie"
            id="field_garantieDezinsectie"
            data-cy="garantieDezinsectie"
            formControlName="garantieDezinsectie"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_garantieDeratizare">Garantie Deratizare</label>
          <input
            type="checkbox"
            class="form-check"
            name="garantieDeratizare"
            id="field_garantieDeratizare"
            data-cy="garantieDeratizare"
            formControlName="garantieDeratizare"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_client">Client</label>
          <select
            class="form-control"
            id="field_client"
            data-cy="client"
            name="client"
            formControlName="client"
            [compareWith]="compareClient"
          >
            @if (editForm.get(['client'])!.value == null) {
              <option [ngValue]="null" selected></option>
            }
            @for (clientOption of clientsSharedCollection; track $index) {
              <option [ngValue]="clientOption">{{ clientOption.denumire }}</option>
            }
          </select>
        </div>
        @if (editForm.get(['client'])!.invalid && (editForm.get(['client'])!.dirty || editForm.get(['client'])!.touched)) {
          <div>
            @if (editForm.get(['client'])?.errors?.required) {
              <small class="form-text text-danger">Acest câmp este necesar.</small>
            }
          </div>
        }

        <div class="mb-3">
          <label class="form-label" for="field_operator">Operator</label>
          <select
            class="form-control"
            id="field_operator"
            data-cy="operator"
            name="operator"
            formControlName="operator"
            [compareWith]="compareUtilizator"
          >
            @if (editForm.get(['operator'])!.value == null) {
              <option [ngValue]="null" selected></option>
            }
            @for (utilizatorOption of utilizatorsSharedCollection; track $index) {
              <option [ngValue]="utilizatorOption">{{ utilizatorOption.nume }} {{ utilizatorOption.prenume }}</option>
            }
          </select>
        </div>
        @if (editForm.get(['operator'])!.invalid && (editForm.get(['operator'])!.dirty || editForm.get(['operator'])!.touched)) {
          <div>
            @if (editForm.get(['operator'])?.errors?.required) {
              <small class="form-text text-danger">Acest câmp este necesar.</small>
            }
          </div>
        }
      </div>

      <hr />

      <div class="row">
        <div class="col-md-12 pb-2" style="text-align: center">
          <p-button
            icon="pi pi-plus"
            [rounded]="true"
            [style]="{ float: 'inline-end', 'margin-top': '-0.5rem' }"
            (onClick)="addDezinsectie()"
          ></p-button>
          DEZINSECTIE
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <p-table [value]="jtMaterialeDezinsectii" [tableStyle]="{ width: '100%' }">
            <ng-template pTemplate="header">
              <tr>
                <th>Material</th>
                <th>Cantitate</th>
                <th></th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-jtMaterialDezinsectie let-index="rowIndex" style="width: 100%">
              <tr>
                <td>
                  <p-dropdown
                    [options]="materialeDezinsectii"
                    [(ngModel)]="jtMaterialDezinsectie.produs"
                    placeholder="Alege un Produs"
                    [editable]="true"
                    optionLabel="denumire"
                    [ngModelOptions]="{ standalone: true }"
                  ></p-dropdown>
                </td>
                <td style="width: 20px">
                  <p-inputNumber
                    inputId="integeronly"
                    [(ngModel)]="jtMaterialDezinsectie.cantitate"
                    [ngModelOptions]="{ standalone: true }"
                    class="stefan"
                  >
                  </p-inputNumber>
                </td>
                <td>
                  <p-button icon="pi pi-minus" [rounded]="true" (onClick)="deleteDezinsectie(index)" severity="danger"></p-button>
                </td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12 pb-2" style="text-align: center">
          <p-button
            icon="pi pi-plus"
            [rounded]="true"
            [style]="{ float: 'inline-end', 'margin-top': '-0.5rem' }"
            (onClick)="addDezinfectie()"
          ></p-button>
          DEZINFECTIE
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <p-table [value]="jtMaterialeDezinfectii" [tableStyle]="{ width: '100%' }">
            <ng-template pTemplate="header">
              <tr>
                <th>Material</th>
                <th>Cantitate</th>
                <th></th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-jtMaterialDezinfectie let-index="rowIndex" style="width: 100%">
              <tr>
                <td>
                  <p-dropdown
                    [options]="materialeDezinfectii"
                    [(ngModel)]="jtMaterialDezinfectie.produs"
                    placeholder="Alege un Produs"
                    [editable]="true"
                    optionLabel="denumire"
                    [ngModelOptions]="{ standalone: true }"
                  ></p-dropdown>
                </td>
                <td style="width: 20px">
                  <p-inputNumber
                    inputId="integeronly"
                    [(ngModel)]="jtMaterialDezinfectie.cantitate"
                    [ngModelOptions]="{ standalone: true }"
                    class="stefan"
                  >
                  </p-inputNumber>
                </td>
                <td>
                  <p-button icon="pi pi-minus" [rounded]="true" (onClick)="deleteDezinfectie(index)" severity="danger"></p-button>
                </td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </div>

      <hr />

      <div class="row">
        <div class="col-md-12 pb-2" style="text-align: center">
          <p-button
            icon="pi pi-plus"
            [rounded]="true"
            [style]="{ float: 'inline-end', 'margin-top': '-0.5rem' }"
            (onClick)="addDeratizare()"
          ></p-button>
          DERATIZARE
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <p-table [value]="jtMaterialeDeratizari" [tableStyle]="{ width: '100%' }">
            <ng-template pTemplate="header">
              <tr>
                <th>Material</th>
                <th>Cantitate</th>
                <th></th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-jtMaterialDeratizari let-index="rowIndex" style="width: 100%">
              <tr>
                <td>
                  <p-dropdown
                    [options]="materialeDeratizari"
                    [(ngModel)]="jtMaterialDeratizari.produs"
                    placeholder="Alege un Produs"
                    [editable]="true"
                    optionLabel="denumire"
                    [ngModelOptions]="{ standalone: true }"
                  ></p-dropdown>
                </td>
                <td style="width: 20px">
                  <p-inputNumber
                    inputId="integeronly"
                    [(ngModel)]="jtMaterialDeratizari.cantitate"
                    [ngModelOptions]="{ standalone: true }"
                    class="stefan"
                  >
                  </p-inputNumber>
                </td>
                <td>
                  <p-button icon="pi pi-minus" [rounded]="true" (onClick)="deleteDeratizare(index)" severity="danger"></p-button>
                </td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </div>

      <hr />

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Anulare</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Salvare</span>
        </button>
      </div>
    </form>
  </div>
</div>
