<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-utilizator-heading" data-cy="UtilizatorCreateUpdateHeading">
        <p-button pRipple [rounded]="true" icon="pi pi-arrow-left" type="button" (click)="previousState()" severity="secondary"></p-button>

        <span> Creeare sau editare Utilizator </span>
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="mb-3">
          <label class="form-label" for="field_nume">Nume</label>
          <input type="text" class="form-control" name="nume" id="field_nume" data-cy="nume" formControlName="nume" />
          @if (editForm.get('nume')!.invalid && (editForm.get('nume')!.dirty || editForm.get('nume')!.touched)) {
            <div>
              @if (editForm.get('nume')?.errors?.required) {
                <small class="form-text text-danger">Acest câmp este necesar.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_prenume">Prenume</label>
          <input type="text" class="form-control" name="prenume" id="field_prenume" data-cy="prenume" formControlName="prenume" />
          @if (editForm.get('prenume')!.invalid && (editForm.get('prenume')!.dirty || editForm.get('prenume')!.touched)) {
            <div>
              @if (editForm.get('prenume')?.errors?.required) {
                <small class="form-text text-danger">Acest câmp este necesar.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_functie">Functie</label>
          <select class="form-control" name="functie" formControlName="functie" id="field_functie" data-cy="functie">
            <option [ngValue]="null"></option>
            @for (functie of functieValues; track $index) {
              <option [value]="functie">{{ functie }}</option>
            }
          </select>
          @if (editForm.get('functie')!.invalid && (editForm.get('functie')!.dirty || editForm.get('functie')!.touched)) {
            <div>
              @if (editForm.get('functie')?.errors?.required) {
                <small class="form-text text-danger">Acest câmp este necesar.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_email">Email</label>
          <input type="text" class="form-control" name="email" id="field_email" data-cy="email" formControlName="email" />
          @if (editForm.get('email')!.invalid && (editForm.get('email')!.dirty || editForm.get('email')!.touched)) {
            <div>
              @if (editForm.get('email')?.errors?.required) {
                <small class="form-text text-danger">Acest câmp este necesar.</small>
              }
            </div>
            <div>
              @if (editForm.get('email')?.errors?.email) {
                <small class="form-text text-danger">Adresa de email nu este valida!</small>
              }
            </div>
          }
        </div>
      </div>

      <div>
        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Salvare</span>
        </button>
      </div>
    </form>
  </div>
</div>
