<div>
  <h2 id="page-heading" data-cy="UtilizatorHeading">
    <span>Utilizatori</span>
  </h2>

  <div class="d-flex justify-content-end">
    <p-button
      pRipple
      [rounded]="true"
      icon="pi pi-plus"
      type="submit"
      [routerLink]="['/utilizator/new']"
      severity="secondary"
      label="Creare Utilizator"
    ></p-button>
  </div>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (!!utilizators && utilizators.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span>No Utilizators found</span>
    </div>
  }

  <p-toast></p-toast>
  <p-table
    [value]="utilizators"
    [lazy]="true"
    (onLazyLoad)="loadData($event)"
    dataKey="id"
    editMode="row"
    [tableStyle]="{ 'min-width': '50rem' }"
    [paginator]="true"
    [rows]="3"
    [totalRecords]="totalRecords"
    [loading]="loading"
    [globalFilterFields]="['nume', 'prenume', 'functie']"
  >
    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="nume" style="width: 25%">Nume <p-sortIcon field="nume"></p-sortIcon></th>
        <th pSortableColumn="prenume" style="width: 25%">Prenume <p-sortIcon field="prenume"></p-sortIcon></th>
        <th pSortableColumn="functie" style="width: 25%">Functie <p-sortIcon field="functie"></p-sortIcon></th>
        <th style="width: 25%"></th>
      </tr>
      <tr>
        <th>
          <p-columnFilter type="text" field="nume"></p-columnFilter>
        </th>
        <th>
          <p-columnFilter type="text" field="prenume"></p-columnFilter>
        </th>
        <th>
          <p-columnFilter field="functie" matchMode="equals" [showMenu]="false">
            <ng-template pTemplate="filter" let-value let-filter="filterCallback">
              <p-dropdown [ngModel]="value" [options]="functii" (onChange)="filter($event.value)" placeholder="Any" [showClear]="true">
                <ng-template let-option pTemplate="item">
                  <p-tag [value]="option.label" [severity]="getSeverity(option.label)"></p-tag>
                </ng-template>
              </p-dropdown>
            </ng-template>
          </p-columnFilter>
        </th>
        <th></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-utilizator let-editing="editing" let-ri="rowIndex">
      <tr [pEditableRow]="utilizator">
        <td>
          <p-cellEditor>
            <ng-template pTemplate="input">
              <input pInputText class="p-inputtext p-component p-element" type="text" [(ngModel)]="utilizator.nume" />
            </ng-template>
            <ng-template pTemplate="output">
              {{ utilizator.nume }}
            </ng-template>
          </p-cellEditor>
        </td>
        <td>
          <p-cellEditor>
            <ng-template pTemplate="input">
              <input pInputText class="p-inputtext p-component p-element" type="text" [(ngModel)]="utilizator.prenume" />
            </ng-template>
            <ng-template pTemplate="output">
              {{ utilizator.prenume }}
            </ng-template>
          </p-cellEditor>
        </td>
        <td>
          <p-cellEditor>
            <ng-template pTemplate="input">
              <p-dropdown [options]="functii" appendTo="body" [(ngModel)]="utilizator.functie" [style]="{ width: '100%' }"></p-dropdown>
            </ng-template>
            <ng-template pTemplate="output">
              {{ utilizator.functie }}
            </ng-template>
          </p-cellEditor>
        </td>
        <td>
          <div class="flex align-items-center justify-content-center gap-2">
            <button
              *ngIf="!editing"
              pButton
              pRipple
              type="button"
              icon="pi pi-eye"
              [routerLink]="['/utilizator', utilizator.id, 'view']"
              class="p-button-rounded p-button-text"
            ></button>
            <button
              *ngIf="!editing"
              pButton
              pRipple
              type="button"
              pInitEditableRow
              icon="pi pi-pencil"
              (click)="onRowEditInit(utilizator)"
              class="p-button-rounded p-button-text"
            ></button>
            <button
              *ngIf="editing"
              pButton
              pRipple
              type="button"
              pSaveEditableRow
              icon="pi pi-check"
              (click)="onRowEditSave(utilizator)"
              class="p-button-rounded p-button-text p-button-success mr-2"
            ></button>
            <button
              *ngIf="editing"
              pButton
              pRipple
              type="button"
              pCancelEditableRow
              icon="pi pi-times"
              (click)="onRowEditCancel(utilizator, ri)"
              class="p-button-rounded p-button-text p-button-danger"
            ></button>
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
