<div>
  <h2 id="page-heading" data-cy="CompanieHeading">
    <span>Companies</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-companie"
        [routerLink]="['/companie/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span>Creeare o nouă entitate Companie</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (companies?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span>No Companies found</span>
    </div>
  }

  @if (companies && companies.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span>ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="iD">
              <div class="d-flex">
                <span>I D</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="nUME">
              <div class="d-flex">
                <span>N UME</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (companie of companies; track trackId) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/companie', companie.id, 'view']">{{ companie.id }}</a>
              </td>
              <td>{{ companie.iD }}</td>
              <td>{{ companie.nUME }}</td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/companie', companie.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline">Vizualizare</span>
                  </a>

                  <a [routerLink]="['/companie', companie.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline">Editare</span>
                  </a>

                  <button type="submit" (click)="delete(companie)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline">Ștergere</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
