<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (procesVerbal) {
      <div>
        <h2 data-cy="procesVerbalDetailsHeading">
          <p-button
            pRipple
            pTooltip="Inapoi"
            tooltipPosition="left"
            [rounded]="true"
            icon="pi pi-arrow-left"
            type="submit"
            (click)="previousState()"
            severity="secondary"
          ></p-button>
          <span>Proces Verbal</span>
          <p-button
            pRipple
            [rounded]="true"
            pTooltip="Editare"
            icon="pi pi-pencil"
            type="submit"
            [ngStyle]="{ float: 'right' }"
            [routerLink]="['/proces-verbal', procesVerbal.id, 'edit']"
          ></p-button>
        </h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span>Data</span></dt>
          <dd>
            <span>{{ procesVerbal.ora | formatMediumDatetime }}</span>
          </dd>
          <dt><span>Numar Proces Verbal</span></dt>
          <dd>
            <span>{{ procesVerbal.numarProcesVerbal }}</span>
          </dd>
          <dt><span>Reprezentant</span></dt>
          <dd>
            <span>{{ procesVerbal.reprezentant }}</span>
          </dd>
          <dt><span>Spatii</span></dt>
          <dd>
            <span>{{ procesVerbal.spatii }}</span>
          </dd>
          <dt><span>Suprafata</span></dt>
          <dd>
            <span>{{ procesVerbal.suprafata }}</span>
          </dd>
          <dt><span>Rapel Dezinsectie</span></dt>
          <dd>
            <span>{{ procesVerbal.rapelDezinsectie }}</span>
          </dd>
          <dt><span>Rapel Deratizare</span></dt>
          <dd>
            <span>{{ procesVerbal.rapelDeratizare }}</span>
          </dd>
          <dt><span>Garantie Dezinsectie</span></dt>
          <dd>
            @if (procesVerbal.garantieDezinsectie) {
              <span>
                <i class="pi pi-check" style="font-size: 1.5rem"></i>
              </span>
            } @else {
              <span>
                <i class="pi pi-times" style="font-size: 1.5rem"></i>
              </span>
            }
          </dd>
          <dt><span>Garantie Deratizare</span></dt>
          <dd>
            @if (procesVerbal.garantieDeratizare) {
              <span>
                <i class="pi pi-check" style="font-size: 1.5rem"></i>
              </span>
            } @else {
              <span>
                <i class="pi pi-times" style="font-size: 1.5rem"></i>
              </span>
            }
          </dd>
          <dt><span>Client</span></dt>
          <dd>
            @if (procesVerbal.client) {
              <div>
                <a [routerLink]="['/client', procesVerbal.client.id, 'view']">{{ procesVerbal.client.denumire }}</a>
              </div>
            }
          </dd>
          <dt><span>Operator</span></dt>
          <dd>
            @if (procesVerbal.operator) {
              <div>
                <a [routerLink]="['/utilizator', procesVerbal.operator.id, 'view']"
                  >{{ procesVerbal.operator.nume }} {{ procesVerbal.operator.prenume }}</a
                >
              </div>
            }
          </dd>
        </dl>

        <div class="row">
          <div class="col-md-12 pb-2" style="text-align: center">DEZINSECTIE</div>
        </div>

        <p-table [value]="jtMaterialeDezinsectii" [tableStyle]="{ width: '100%' }" [scrollable]="false">
          <ng-template pTemplate="header">
            <tr>
              <th>Material</th>
              <th>Cantitate</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-jtMaterialDezinsectie let-index="rowIndex" style="width: 100%">
            <tr>
              <td>
                {{ jtMaterialDezinsectie.produs.denumire }}
              </td>
              <td style="width: 20px">
                {{ jtMaterialDezinsectie.cantitate }}
              </td>
            </tr>
          </ng-template>
        </p-table>

        <hr style="margin-top: 3rem; margin-bottom: 3rem" />

        <div class="row">
          <div class="col-md-12 pb-2" style="text-align: center">DEZINFECTIE</div>
        </div>

        <p-table [value]="jtMaterialeDezinfectii" [tableStyle]="{ width: '100%' }">
          <ng-template pTemplate="header">
            <tr>
              <th>Material</th>
              <th>Cantitate</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-jtMaterialDezinfectie let-index="rowIndex" style="width: 100%">
            <tr>
              <td>
                {{ jtMaterialDezinfectie.produs.denumire }}
              </td>
              <td style="width: 20px">
                {{ jtMaterialDezinfectie.cantitate }}
              </td>
            </tr>
          </ng-template>
        </p-table>

        <hr style="margin-top: 3rem; margin-bottom: 3rem" />

        <div class="row">
          <div class="col-md-12 pb-2" style="text-align: center">DERATIZARE</div>
        </div>

        <p-table [value]="jtMaterialeDeratizari" [tableStyle]="{ width: '100%' }">
          <ng-template pTemplate="header">
            <tr>
              <th>Material</th>
              <th>Cantitate</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-jtMaterialDeratizari let-index="rowIndex" style="width: 100%">
            <tr>
              <td>
                {{ jtMaterialDeratizari.produs.denumire }}
              </td>
              <td style="width: 20px">
                {{ jtMaterialDeratizari.cantitate }}
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    }
  </div>
</div>
