<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (material) {
      <div>
        <h2 data-cy="materialDetailsHeading">
          <p-button
            pRipple
            [rounded]="true"
            icon="pi pi-arrow-left"
            type="submit"
            (click)="previousState()"
            severity="secondary"
          ></p-button>

          <span>Material: {{ material.denumire }}</span>
        </h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span>Denumire</span></dt>
          <dd>
            <span>{{ material.denumire }}</span>
          </dd>
          <dt><span>Procedura</span></dt>
          <dd>
            <span>{{ material.procedura }}</span>
          </dd>
          <dt><span>Factura</span></dt>
          <dd>
            <span>{{ material.factura }}</span>
          </dd>
          <dt><span>Lot</span></dt>
          <dd>
            <span>{{ material.lot }}</span>
          </dd>
          <dt><span>Data Achizitionare</span></dt>
          <dd>
            <span>{{ material.dataAchizitionare | formatMediumDate }}</span>
          </dd>
          <dt><span>Data Expirare</span></dt>
          <dd>
            <span>{{ material.dataExpirare | formatMediumDate }}</span>
          </dd>
          <dt><span>Dilutie</span></dt>
          <dd>
            <span>{{ material.dilutie }}</span>
          </dd>
          <dt><span>Timp Contact</span></dt>
          <dd>
            <span>{{ material.timpContact }}</span>
          </dd>
          <dt><span>Metoda Aplicare</span></dt>
          <dd>
            <span>{{ material.metodaAplicare }}</span>
          </dd>
          <dt><span>Gramaj</span></dt>
          <dd>
            <span>{{ material.gramaj }}</span>
          </dd>
          <dt><span>Cantitate</span></dt>
          <dd>
            <span>{{ material.cantitate }}</span>
          </dd>
          <dt><span>Companie</span></dt>
          <dd>
            @if (material.companie) {
              <div>
                <a [routerLink]="['/companie', material.companie.id, 'view']">{{ material.companie.nume }}</a>
              </div>
            }
          </dd>
        </dl>

        <p-button pRipple label="Editare" icon="pi pi-pencil" type="submit" [routerLink]="['/material', material.id, 'edit']"></p-button>
      </div>
    }
  </div>
</div>
