<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (categorieClient) {
      <div>
        <h2 data-cy="categorieClientDetailsHeading">
          <p-button
            pRipple
            [rounded]="true"
            icon="pi pi-arrow-left"
            type="submit"
            (click)="previousState()"
            severity="secondary"
          ></p-button>

          <span>Categorie Client</span>
        </h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span>Nume</span></dt>
          <dd>
            <span>{{ categorieClient.nume }}</span>
          </dd>
        </dl>

        <p-button
          pRipple
          label="Editare"
          icon="pi pi-pencil"
          type="submit"
          [routerLink]="['/categorie-client', categorieClient.id, 'edit']"
        ></p-button>
      </div>
    }
  </div>
</div>
