<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (categorieClient) {
      <div>
        <h2 data-cy="categorieClientDetailsHeading"><span>Categorie Client</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span>Id</span></dt>
          <dd>
            <span>{{ categorieClient.id }}</span>
          </dd>
          <dt><span>Nume</span></dt>
          <dd>
            <span>{{ categorieClient.nume }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Înapoi</span>
        </button>

        <button type="button" [routerLink]="['/categorie-client', categorieClient.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Editare</span>
        </button>
      </div>
    }
  </div>
</div>
