<div>
  <h2 id="page-heading" data-cy="ProcesVerbalHeading">
    <span>Proces Verbals</span>
  </h2>

  <div class="d-flex justify-content-end">
    <p-button
      pRipple
      [rounded]="true"
      icon="pi pi-plus"
      type="submit"
      [routerLink]="['/proces-verbal/new']"
      severity="secondary"
      label="Creare Proces Verbal"
    ></p-button>
  </div>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (!procesVerbals || procesVerbals.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span>No Proces Verbals found</span>
    </div>
  }

  <p-toast></p-toast>
  <p-table
    [value]="procesVerbals"
    [lazy]="true"
    (onLazyLoad)="loadData($event)"
    dataKey="id"
    editMode="row"
    [tableStyle]="{ 'min-width': '50rem' }"
    [paginator]="true"
    [rows]="3"
    [totalRecords]="totalRecords"
    [loading]="loading"
    [globalFilterFields]="['client', 'reprezentant', 'data', 'operator']"
  >
    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="client" style="width: 15%">Client <p-sortIcon field="client"></p-sortIcon></th>
        <th pSortableColumn="reprezentant" style="width: 15%">Reprezentant <p-sortIcon field="reprezentant"></p-sortIcon></th>
        <th pSortableColumn="data" style="width: 15%">Data interventiei <p-sortIcon field="data"></p-sortIcon></th>
        <th style="width: 10%">Tip procedura</th>
        <th style="width: 10%">Produs</th>
        <th style="width: 5%">Cantitate</th>
        <th pSortableColumn="operator" style="width: 15%">Operator <p-sortIcon field="operator"></p-sortIcon></th>
        <th style="width: 15%"></th>
      </tr>
      <tr>
        <th>
          <p-columnFilter type="text" field="client"></p-columnFilter>
        </th>
        <th>
          <p-columnFilter type="text" field="reprezentant"></p-columnFilter>
        </th>
        <th>
          <p-columnFilter type="date" field="data"></p-columnFilter>
        </th>
        <th></th>
        <th></th>
        <th></th>
        <th>
          <p-columnFilter type="text" field="operator"></p-columnFilter>
        </th>
        <th></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-procesVerbal let-editing="editing" let-ri="rowIndex">
      <tr [pEditableRow]="procesVerbal">
        <td>
          <p-cellEditor>
            <ng-template pTemplate="input">
              <input pInputText class="p-inputtext p-component p-element" type="text" [(ngModel)]="procesVerbal.client" />
            </ng-template>
            <ng-template pTemplate="output">
              {{ procesVerbal.client.denumire }}
            </ng-template>
          </p-cellEditor>
        </td>
        <td>
          <p-cellEditor>
            <ng-template pTemplate="input">
              <input pInputText class="p-inputtext p-component p-element" type="text" [(ngModel)]="procesVerbal.reprezentant" />
            </ng-template>
            <ng-template pTemplate="output">
              {{ procesVerbal.reprezentant }}
            </ng-template>
          </p-cellEditor>
        </td>
        <td>
          <p-cellEditor>
            <ng-template pTemplate="input">
              <input pInputText class="p-inputtext p-component p-element" type="text" [(ngModel)]="procesVerbal.data" />
            </ng-template>
            <ng-template pTemplate="output">
              {{ procesVerbal.data }}
            </ng-template>
          </p-cellEditor>
        </td>
        <td></td>
        <td></td>
        <td></td>
        <td>
          <p-cellEditor>
            <ng-template pTemplate="input">
              <input pInputText class="p-inputtext p-component p-element" type="text" [(ngModel)]="procesVerbal.operator" />
            </ng-template>
            <ng-template pTemplate="output">
              {{ procesVerbal.operator.nume }}
              {{ procesVerbal.operator.prenume }}
            </ng-template>
          </p-cellEditor>
        </td>
        <td>
          <div class="flex align-items-center justify-content-center gap-2">
            <button
              *ngIf="!editing"
              pButton
              pRipple
              type="button"
              icon="pi pi-eye"
              [routerLink]="['/proces-verbal', procesVerbal.id, 'view']"
              class="p-button-rounded p-button-text"
            ></button>
            <button
              *ngIf="!editing"
              pButton
              pRipple
              type="button"
              pInitEditableRow
              icon="pi pi-pencil"
              (click)="onRowEditInit(procesVerbal)"
              class="p-button-rounded p-button-text"
            ></button>
            <button
              *ngIf="editing"
              pButton
              pRipple
              type="button"
              pSaveEditableRow
              icon="pi pi-check"
              (click)="onRowEditSave(procesVerbal)"
              class="p-button-rounded p-button-text p-button-success mr-2"
            ></button>
            <button
              *ngIf="editing"
              pButton
              pRipple
              type="button"
              pCancelEditableRow
              icon="pi pi-times"
              (click)="onRowEditCancel(procesVerbal, ri)"
              class="p-button-rounded p-button-text p-button-danger"
            ></button>
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
